/* Basic layout: nav on left, content on right */

/* Delete when Live -- this is debugging/editing style to outline items */

/* * {
  outline: 2px solid red;
}

/* End Debug code */

/* Palette selection: coolers.co */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg: #f5f5f5;
    /* White smoke */
    --text: #000000;
    /* Black */
    --date-bg: #000000;
    /* Black */
    --accent: #1b9aaa;
    /* Blue (Munsell) */
    --highlight: #e56399;
    /* Thulian pink */
    --nav-bg: #4e5166;
    /* Davy's gray */
    --nav-text: #f5f5f5;
    /* White smoke */
    --header-bg: #5a0001;
    /* Rosewood */
    --header-text: #ffffff;
    /* White */
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}

header {
    background-color: var(--header-bg);
    color: var(--header-text);
    text-align: center;
    padding: 1.5rem 1rem;
}

header h1 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

.page {
    display: flex;
    min-height: 100dvh; /* allow the page to grow taller if needed */
}

nav {
    width: 240px;
    align-self: stretch; /* to make nav match .page */
    background-color: var(--nav-bg);
    padding: 2rem 1rem 0 1rem;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    font-weight: bold;
    text-align: right;
    width: 100%;
    margin-bottom: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--nav-text);
    display: inline-block;
    transition: color 1.0s ease;
}

.nav-links a:hover {
    color: var(--accent);
}

.logo-box {
  background-color: white;
}

.logo {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    outline: 1px solid var(--nav-bg);
}

.nav-divider {
    border: none;
    height: 2px;
    background-color: var(--accent);
    margin: 1.5rem 0.5rem 1.5rem 0.5rem;
}

main {
    flex-grow: 1;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.6;
    padding: 2rem 0 0 2rem;
    width: 100%;
}

.about-blurb {
    margin: 0 2rem 2rem 0;
    max-width: 66ch;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2;
}

.about-blurb summary {
    list-style: none;        /* Firefox */
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: color 1s ease;
}

.about-blurb summary::-webkit-details-marker {
    display: none;
}

.about-blurb summary:hover {
    color: var(--accent);
}

.about-blurb p {
    overflow-wrap: break-word;
    word-break: break-word;
}

section p {
    max-width: 66ch;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2;
    margin: 2rem 2rem 2rem 0;
}

section a {
    text-decoration: none;
    color: var(--nav-text);
    transition: color 1.0s ease;
}  

.monospace {
    font-family: monospace;
    font-size: 0.8rem;
}

.contact-list dt {
    font-weight: bold;
    margin-top: 1rem;
}

.contact-list dd {
    margin: 0 0 0.5rem 0rem;
}

section {
    padding-bottom: 3rem;
}

.subtopic {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.talk-list {
    max-width: 660px;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    row-gap: 3px;
    padding: 0 2rem 0 0;
}

.talk {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: auto auto;
    column-gap: 3px;
}

.date {
    grid-column: 1;
    grid-row: 1 / span 2;
    background-color: var(--date-bg);
    color: var(--header-text);
    text-align: right;
    line-height: 1;
    white-space: nowrap;
    padding: 6px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.day {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--header-text);
}

.dow {   /* dow = Day of Week */
    color: var(--bg);
}

.month {
    color: var(--accent);
    font-weight: bold;
}

.details {
    grid-column: 2;
    background-color: var(--accent);
    color: var(--text);
    padding: 2px 0px 4px 4px;
    grid-row: 1 / span 2;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    line-height: 1.2;
}

.speaker {
    padding: 4px 0 0 10px;
    color: var(--text);
}

.name {
    font-weight: 400;
}

.title {
    font-style: italic;
    font-weight: bold;
    font-size: large;
    padding: 4px 0 0 10px;
}

.highlight {
    font-weight: bold;
    font-style: italic;
    color: var(--highlight);
}

/* Media Queries */

@media (max-width: 600px) {
    .page {
        flex-direction: column;
    }

    nav {
        width: 100%;
        min-height: auto;
        padding: 0.5rem;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;     /* should right-align entire row */
        flex-wrap: wrap;
        gap: 0.25rem;
        padding: 0;
        margin: 0;
    }

    .nav-links li {
        display: inline;
        width: auto;
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 0.75rem;
        list-style: none;
    }

.nav-links li + li::before {
    content: "\2022";
    margin: 0 0.5rem;
    color: var(--accent);
}

.nav-links li:last-child {
    padding-right: 1.5rem;
}

    .nav-links a {
        text-decoration: none;
        color: var(--nav-text);
        padding: 0.5rem;
    }

    nav hr {
        display: none;
    }

    nav .logo-box {
        display: none;
    }

    nav .logo {
        display: none;
    }

    main {
        padding-bottom: 2rem;
    }
}
